<a href="https://colab.research.google.com/github/Jahnavi-1315/python_learnings/blob/main/my_space.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Lets understand python**

In [ ]:
#python is a high-level,object-oriented,dynamically typed,interpreted programming language
"""this is a
multi line comment"""
print("jaanu")

jaanu

**Numerical data types**

In [ ]:
print(type(3))
print(type(-7))
print(type(-2/4))
print(type(3.4667))
print(type(3-6j))

<class 'int'>
<class 'int'>
<class 'float'>
<class 'float'>
<class 'complex'>

**Arthematic Operators**

In [ ]:
print(10+8798) #addition
print(type(10+8798))
print(2349-485) #subtraction
print(type(2349-485))
print(7374*5675) #multiplication
print(type(7374*5675))
print(737/455)  #division
print(type(737/455))
print(6 % 5)  #modulus
print(type(10 % 5))
print(3 ** 2) #exponential
print(type(3 ** 2))
print(7//3)
print(7/3)
print(type(7//3))

8808
<class 'int'>
1864
<class 'int'>
41847450
<class 'int'>
1.6197802197802198
<class 'float'>
1
<class 'int'>
9
<class 'int'>
2
2.3333333333333335
<class 'int'>

**Round**

In [ ]:
print(round(23.4556))
print(round(23.4336,2))
print(round(23.4336,3))
print(round(-35.677))
print(round(-35.677,2))
print(round(3.4))
print(round(3.6))

23
23.43
23.434
-36
-35.68
3
4

**Variables and arthematic operations on variables**

In [ ]:
a=3
b=4
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a//b)
print(a%b)

7
-1
12
0.75
0
3

In [ ]:
#case sensitive
a="hello"
#print(A) it will show A is not defined
#python is interpreted
b=34
c=87
b=3
c=6
print(b+c)# it shows 9 because its executed line by line

9

**Rules to create a variable**

In [ ]:
var_name = 34
print(var_name)
#9name=83
#print(9name)
_hdj=37
print(_hdj)
#v name=38
#print(v name)

34
37

In [ ]:
#creating multiple variables at once and printing them in separate lines
a,b,c = 123,234,345
print(a,b,c,sep="\n") #"\n"-> next line

123
234
345

In [ ]:
#same value to multible variable and print in separate line
a=b=c=10
print(a,b,c,sep="\n")

10
10
10

**Input**

In [ ]:
x=input("enter a number:")
print(x)
print(type(x))
#input type by default is string

enter a number:5.6
5.6
<class 'str'>

In [ ]:
x = int(input("enter the number: "))
y = int(input("enter the number: "))
print(x + y)
print(x - y)
print(x * y)
print(x / y)
print(x % y)
print(x ** y)
print(x // y)
print(x,y)

enter the number: 5
enter the number: 3
8
2
15
1.6666666666666667
2
125
1
5 3

**Strings**

In [ ]:
print("hello")
print("hello,i am \"jaanu\"")
print(type("hello,i am \"jaanu\""))
a="""this is
a multi line string"""
print(a)
print(type(a))

hello
hello,i am "jaanu"
<class 'str'>
this is
a multi line string
<class 'str'>

In [ ]:
#acessing a character from string
b="hello jaanu!"
print(b[2])
print(b[2:5])
print(b[1:12:2])#odd positions
print(b[5])#print space
print(len(b))
print(b[0:12:2])#even positions
print(b[-1])
print(b[::-1])#reverse the string

l
llo
el an!

12
hlojau
!
!unaaj olleh

In [ ]:
#check whether the given string is palindrome or not
a="mom"
if(a[::]==a[::-1]):
  print("True")
else:
  print("False")

True

In [ ]:
c="sad me"
print(dir(c))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [ ]:
c=" Sad Me "
print(c.isalpha())
print(c.islower())
print(c.isalnum())
print(c.isupper())
print(c.istitle())
print(c.isspace())
print(c.lstrip())
print(c.rstrip())
print(c.strip())
print(c.capitalize())
print(c.zfill(2))
print(c.swapcase())

False
False
False
False
True
False
Sad Me
 Sad Me
Sad Me
 sad me
 Sad Me
 sAD mE

In [ ]:
#replace hello world --> hello universe
a="hello world"
a.replace("world", "universe")
print(a)

hello world

**String format methods**

In [ ]:
#strong concatenation
a="hello"+"world"
print(a)

helloworld

In [ ]:
#print my age is 21
a="my"+" age"+" is "+"21"
print(a)
b=10
print("my age is",b)
c="my age is "
d=21
print(c+str(d))
e="my age is {}"
g=21
print(e.format(g))
e="my age is {}".format(g)
g=21
print(e)
g=21
print(f"my age is {g}")

my age is 21
my age is 10
my age is 21
my age is 21
my age is 21
my age is 21

In [ ]:
"your order has been placed for product A  with price of 99.9/- and order quantity is 10 is confirmed."
item=input()
price=int(input())
quan1tity=int(input())
print(f"your order has been placed for {item} with price of {price}/- and order quantity is {quantity} is confirmed.")

mascara
350
1
your order has been placed for mascara with price of 350/- and order quantity is 1 is confirmed.

**Conditional statements**

In [ ]:
#write a program to print weather ther student is pass or fail?
marks=67
if(marks>=35):
  print("you passed")
  print(f"and your marks are {marks}")
else:
  print("you failed! try again dude")

you passed
and your marks are 67

In [ ]:
#write a program to print the given number is "+ve","-ve", or neutral?
a=float(input("enter a number: "))
if(a>=1):
  print("the given number is positive")
elif(a==0):
  print("the given number is neutral")
else:
  print("the given number is negative")

enter a number: -3.566
the given number is negative

In [ ]:
#writea program to check the given string is palindrome or not?
#MOm
a=input()
a.lower()
if(a[::1]==a[::-1]):
  print("its a palindrome")
else:
  print("not a palindrome")

MAdAM
its a palindrome

**While loop**

In [ ]:
#print 1 to 10 numbers using while loop
i=1
while i<=10:
  print(i)
  i=i+1

1
2
3
4
5
6
7
8
9
10

In [ ]:
#write a program to run a lift if the use press button 4 then the lift has to stop.
lift=0
target=4
while lift<=target:
  print(f"the lift is at {lift} floor")
  lift=lift+1

the lift is at 0 floor
the lift is at 1 floor
the lift is at 2 floor
the lift is at 3 floor
the lift is at 4 floor

In [ ]:
"""step1-> create a class -> customer -> bank
step2-> created a object by using variable for ex->c1=customer()
step3->cretaing class attributes inside the class->common attributes
step4->how to access class attributes by particular object->print(c1.bank_name)
step5->cretaed methods inside the class which are nothing but functions inside the class"""
#ex:welcome(),check_balance(),deposit(),withdraw()
step6->how to access particular method by particular object->c2.welcome(),c1.deposit()